<?php $this->load->view('头部.html');?>
<div id="all">
    <div id="main">
        <div id="userCenter_page" class="wrap" edit="0">
            <div id="scroll">
                <div id="userBackground">
                    <div id="span"></div>
                    <img id="userHead" src="/assets/images/head.png" data_name="头像" data_type="images"/>
                    <div id="userName" data_name="姓名" data_type="text">加载中</div>
                    <div class="clear"></div>
                    <div class="userButton" id="edit">
                        <div class="icon iconfont">&#xe622;</div>
                        <button class="text">编辑信息</button>
                        <div class="clear"></div>
                    </div>
                    <div class="userButton" id="setKey">
                        <div class="icon iconfont">&#xe601;</div>
                        <button class="text">修改密码</button>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="list_module">
                    <div class="point noEdit">
                        <div class="icon iconfont">&#xe619;</div>
                        <div class="name">共享码</div>
                        <div class="text" id="invitecode" data_name="邀请码" data_type="text">加载中</div>
                        <div class="clear"></div>
                    </div>
                    <div class="point noEdit">
                        <div class="icon iconfont">&#xe618;</div>
                        <div class="name">身份证号</div>
                        <div class="text" id="idcard" data_name="身份证号" data_type="text">加载中</div>
                        <div class="clear"></div>
                    </div>
                    <div class="point canEdit" id="changePhone">
                        <div class="icon iconfont">&#xe616;</div>
                        <div class="name">手机号</div>
                        <div class="text" id="phone"><span data_name="手机号" data_type="text">加载中</span> &gt;</div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="list_module">
                    <div class="point canEdit">
                        <div class="icon iconfont">&#xe625;</div>
                        <div class="name">身高</div>
                        <input class="text" id="height" value="加载中" readonly  data_name="身高" data_type="input"/>
                        <div class="clear"></div>
                    </div>
                    <div class="point canEdit">
                        <div class="icon iconfont">&#xe61b;</div>
                        <div class="name">体重</div>
                        <input class="text" id="weight" value="加载中" readonly data_name="体重" data_type="input"/>
                        <div class="clear"></div>
                    </div>
                    <div class="point canEdit">
                        <div class="icon iconfont">&#xe61d;</div>
                        <div class="name">住址</div>
                        <textarea class="text long" id="address" readonly data_name="住址" data_type="input">加载中</textarea>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="list_module">
                    <div class="point canEdit">
                        <div class="icon iconfont">&#xe617;</div>
                        <div class="name">紧急联系人</div>
                        <input class="text" id="linkman" value="加载中" readonly data_name="紧急联系人" data_type="input"/>
                        <div class="clear"></div>
                    </div>
                    <div class="point canEdit">
                        <div class="icon iconfont">&#xe616;</div>
                        <div class="name">联系人电话</div>
                        <input class="text" id="linkphone" value="加载中" readonly data_name="紧急联系人电话" data_type="input"/>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div id="pop">
        <div id="popMain"></div>
        <div id="popBottomFrame">
            <button id="popButton" type="button">确定</button>
        </div>
    </div>
    <div id="codePop">
        <div id="popMain">
            <img src="http://" id="codePic"/>
            <div id="picCode">
               <input placeholder="请输入上方图片验证码"  id="picCodeInput"/> 
            </div> 
            <div class="clear"></div>
        </div>
        <div id="popBottomFrame">
            <button id="popButton" type="button">确定</button>
        </div>
    </div>
    <div id="popBg"></div>
</div>
<?php $this->load->view('尾部.html');?>
