<?php $this->load->view('头部.html');?>
<div id="all">
  <div id="main">
    <img src="/assets/images/share0.jpg" id="shareBg"/>
    <div id="share_page" class="wrap">
    <div id="scroll">
    <img src="/assets/images/share1.png" id="shareTop"/>
    <div id="space"></div>
    <div id="shareFrame">
    <div id="space"></div>
        <img id="head" src="/assets/images/gHead.png"/>
        <div id="name">林羽</div>
        <div id="codeFrame">
            <div id="codeName">共享码</div>
            <div id="code">45f8gh</div>
        </div>
        <button type="button" id="down">下载app</button>
    </div>
    <div id="logo">
    <img src="/assets/images/logo.png"/>
    </div>
    <div id="companyName">中钛新健康小屋</div>
    </div>
        
    </div>
    </div>
    <div id="pop">
        <div id="popMain"></div>
        <div id="popBottomFrame">
            <button id="popButton" type="button">确定</button>
        </div>
    </div>
    <div id="codePop">
        <div id="popMain">
            <img src="http://" id="codePic"/>
            <input id="picCode" placeholder="请输入上方图片验证码" />
            <div class="clear"></div>
        </div>
        <div id="popBottomFrame">
            <button id="popButton" type="button">确定</button>
        </div>
    </div>
    <div id="popBg"></div>
</div>
<?php $this->load->view('尾部.html');?>