<!doctype html>
<html>
<head>
<meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
<title>中钛新</title>
<link rel="stylesheet" href="/assets/css/iconfont.css">
<link href="/assets/css/main.css" rel="stylesheet" rev="stylesheet" type="text/css"/>
<link href="/assets/css/phoneSelect.css" rel="stylesheet" rev="stylesheet" type="text/css"/>
</head>
<body>
<div id="loading">
	<div class="icon iconfont">&#xe628;</div>
	<div class="text">正在努力加载中...</div>
	<div class="subText">请等待</div>
</div>