<?php $this->load->view('头部.html');?>
<div id="all">
  <div id="main">
    <div id="newPhone2_page" class="wrap">
    <div id="scroll">
        <div class="topFrame_module">
            <div class="title">身份验证</div>
            <img class="logo" src="/assets/images/logo.png"/>
        </div>
        <div class="input_module" id="name">
            <div class="icon iconfont">&#xe602;</div>
                <input placeholder="姓名"/>
        </div>
        <div class="input_module" id="card">
            <div class="icon iconfont">&#xe604;</div>
                <input placeholder="身份证号码"/>
        </div>
        <div class="input_module" id="date">
            <div class="icon iconfont">&#xe605;</div>
            <button class="dateFrame" value="0" type="button">最近体检年月</button>
        </div>
        <button class="button_module singleButton disable" id="Button" type="button">确定</button>
        <div class="clear"></div>
        <button class="link_module" id="back" type="button">返回登录页</button>
        <div class="clear"></div>
    </div>
        
    </div>
    <div id="popBottom">
    	<div id="popBottomHead">
        <button id="popBottomFinish" type="button">完成</button>
        <button id="popBottomCancel" type="button">取消</button>
        <div class="clear"></div>
        </div>
        <div id="popBottomMain"></div>
    </div>
    </div>
    <div id="pop">
        <div id="popMain"></div>
        <div id="popBottomFrame">
            <button id="popButton" type="button">确定</button>
        </div>
    </div>
    <div id="codePop">
        <div id="popMain">
            <img src="http://" id="codePic"/>
            <input id="picCode" placeholder="请输入上方图片验证码" />
            <div class="clear"></div>
        </div>
        <div id="popBottomFrame">
            <button id="popButton" type="button">确定</button>
        </div>
    </div>
    <div id="popBg"></div>
    
</div>
<?php $this->load->view('尾部.html');?>